<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Your Recommendations</h1>
    <ul>
        {% for recommendation in recommendations %}
        <li>{{ recommendation['title'] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('search') }}">Back to Search</a>
    
    <script>
        setTimeout(function () {
            var flashes = document.querySelector('.flashes');
            if (flashes) {
                flashes.remove();
            }
        }, 2000); 
    </script>

</body>

</html>